/*--------------------------------[LOGIN & SIGNUP]--------------------------------------------*/
.wrapper{
    height: 65%;
    overflow: hidden;
    background: #343a40;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
  }
  
  .wrapper .title-text{
    display: flex;
    width: 200%;
    color: #fb771a;
  }
  
  .wrapper .title{
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
  }
  
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  
  .wrapper .row > div {
      padding: 0 15px;
      margin-bottom: 15px;
      box-sizing: border-box;
  }
  
  .wrapper .col_half {
    width: 50%;
    float: left;
  }
  
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form{ width: 50%;}
  
  .form-inner form .input_field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 2%;
  }
  .form-inner form .input_field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
  }
  .form-inner form .input_field input:focus{
    border-color: #6883BA;
    box-shadow: inset 0 0 3px #6883BA;
  }
  .form-inner form .input_field input::placeholder{color: #999;}
  form .input_field input:focus::placeholder{color: #b3b3b3;}
  .form-inner form .pass-link{margin-top: 5px;}
  
  .form-inner form .signup-link{
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #fb771a;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: #fb771a;
    border-radius: 5px;
    transition: all 0.4s ease;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: rgb(7, 7, 7);
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
      body{
        width: 100%;
        float: none;
      }
  
      .wrapper .col_half {
        width: 100%;
        float: none;
      }
    
      .bottom_row .col_half {
        width: 50%;
        float: left;
      }
    
      .form-container .row .col_half.last {
        border-left: none;
      }
  }
  
  
  
  /*--------------------------------[FOOTER]--------------------------------------------*/
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*--------------------------------[IMG]--------------------------------------------*/
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
  }

  /*--------------------------------[SCROLL-BAR]--------------------------------------------*/
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #6c757d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343a40; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  /*--------------------------------[SIGNUP]--------------------------------------------*/
  /* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔️";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "❌";
}

  /*--------------------------------[PROFILE]--------------------------------------------*/
  .shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  }
  
  .profile-tab-nav {
    min-width: 250px;
  }
  
  .tab-content {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
  }
  .nav-pills a.nav-link i {
    width: 20px;
  }
  
  .img-circle img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 5px solid #fff;
  }

  /*--------------------------------[SEARCHBAR]--------------------------------------------*/
/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(33, 37, 41);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: rgb(251, 119, 26);
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------[ITEM-IMAGE-BUTTON]--------------------------------------------*/
.item-button{
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}


/*--------------------------------[SHOPPING CART]--------------------------------------------*/
.shopping-margin{
  margin-top: 2%;
  margin-left: 1%;
}

.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

label {
  color: #000;
}

.shopping-cart {
  margin: 1%;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 1%;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  margin-left: 1%;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}